@keyframes notificationAnimationIn {from {transform: translate3d(calc(100% - 150%), calc(100% - 350%), 0px);} to {transform: translate3d(calc(100% - 150%), calc(100% - 50%), 0px);}}
@keyframes notificationAnimationOut {from {transform: translate3d(calc(100% - 150%), calc(100% - 50%), 0px);} to {transform: translate3d(calc(100% - 150%), calc(100% - 350%), 0px);}}
@keyframes notificationIndicatorAnimation {from {width: 100%;} to {width: 0%;}}
@keyframes fadeEffect {from {opacity: 0;}to {opacity: 1;}}
@keyframes fadeout { from {opacity: 1;} to {opacity:0;} }
@keyframes swiperFloat {from {transform: translate(-50%, 60%);}to {transform: translate(-50%, 0);}}
@keyframes panelSlideUp {from {bottom: -200rem;left: 50%;transform: translate(-50%, 200rem);}to {bottom: 5%;left: 50%;transform: translate(-50%, -55%);}}
@keyframes panelSlideDown {from {bottom: 0;left: 50%;transform: translate(-50%, -55%);}to {bottom: -200rem;left: 50%;transform: translate(-50%, 200rem);display: none;}}
@keyframes wizard_input_loading {from {transform: rotate(0);}to {transform: rotate(360deg);}}
@keyframes floating { 0% { transform: translate(0,  0px); } 50%  { transform: translate(0, 15px); } 100%   { transform: translate(0, -0px); } }

@media only screen and (min-width: 992px) {
    @keyframes popup { 0% { opacity: 0.5; transform: translate3d(-50%, 50%, 0); }25% { opacity: .75; transform: translate3d(-50%, 0%, 0); }50% { opacity: 1; transform: translate3d(-50%, -30%, 0); }75% { opacity: 1; transform: translate3d(-50%, -40%, 0); }100% { opacity: 1; transform: translate3d(-50%, -50%, 0); } }
    @keyframes popout { 100% { opacity: 0.5; transform: translate3d(-50%, 50%, 0); }75% { opacity: .75; transform: translate3d(-50%, 0%, 0); }50% { opacity: 1; transform: translate3d(-50%, -30%, 0); }25% { opacity: 1; transform: translate3d(-50%, -40%, 0); }0% { opacity: 1; transform: translate3d(-50%, -50%, 0); } }
}

@media only screen and (max-width: 600px) {
    /* @keyframes popup { 0% { opacity: 0.5; transform: translate3d(0, 50%, 0); }25% { opacity: .75; transform: translate3d(0, 0%, 0); }50% { opacity: 1; transform: translate3d(0, -10%, 0); }75% { opacity: 1; transform: translate3d(0, 0%, 0); }100% { opacity: 1; transform: translate3d(0, 0%, 0); } } */
    @keyframes popup {
        from {
            opacity: 0.5; transform: translate3d(0, 50%, 0);
        } to {
            opacity: 1; transform: translate3d(0, 0%, 0);
        }
    }

    @keyframes popout {
        from {
            opacity: 1; transform: translate3d(0, 0%, 0);
        } to {
            opacity: 0.5; transform: translate3d(0, 50%, 0);
        }
    }

    /* @keyframes popout { 100% { opacity: 0.5; transform: translate3d(0, 50%, 0); }75% { opacity: .75; transform: translate3d(0, 0%, 0); }50% { opacity: 1; transform: translate3d(0, -10%, 0); }25% { opacity: 1; transform: translate3d(0, 0%, 0); }0% { opacity: 1; transform: translate3d(0, 0%, 0); } } */
}